@model ASPCoreWebApp.Models.ItemViewModel

@{
    ViewBag.Title = "Add Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Index" method="post">
    <div class="card">
        <div class="card-header">
            <h4>
                <small>@ViewBag.Title</small>
            </h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Name <span class="text-danger">(*)</span></label>
                        <input type="text" asp-for="ItemName" class="form-control form-control-sm" />

                        <span asp-validation-for="ItemName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Description <span class="text-danger">(*)</span></label>
                        <input type="text" asp-for="ItemDescription" class="form-control form-control-sm" />
                        <span asp-validation-for="ItemDescription" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>UOM <span class="text-danger">(*)</span></label>
                        <input type="text" asp-for="ItemUOM" class="form-control form-control-sm" />
                        <span asp-validation-for="ItemUOM" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Unit Cost <span class="text-danger">(*)</span></label>
                        <input type="text" asp-for="ItemUnitCost" class="form-control form-control-sm" />
                        <span asp-validation-for="ItemUnitCost" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row text-center">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                    <a asp-action="DispalyList" class="btn btn-primary btn-sm">Back</a>
                </div>

            </div>
        </div>
    </div>


</form>
<button type="button" onclick="addFileRow()" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle"></i>Add</button>
<table id="fileTable" class="table" style="font-size: 12px;">
    <thead>
        <tr>
            <th>File</th>
            <th>Name</th>
            <th>Description</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody id="fileRows">
       
    </tbody>
</table>

<button type="button" class="btn btn-primary btn-sm"> Save</button>
@section Scripts {
    <script>
         let fileRowIndex = 0;
        $(document).ready(function () {
             addFileRow();
        })


        function addFileRow() {
            var index = fileRowIndex++;

            var row ='<tr>';
               row+='<td><input type="file" class="form-control form-control-sm"  name="Files[' + index + '].File" /></td>';
               row+='<td><input type="text" class="form-control form-control-sm"  name="Files[' + index + '].Name" /></td>';
               row+='<td><input type="text" class="form-control form-control-sm"  name="Files[' + index + '].Description" /></td>';
               row+='<td><button type="button" class="btn btn-danger btn-sm" onclick="removeRow(this)"><i class="bi bi-trash"></i></button></td>';
                 row+='</tr>';

           $("#fileRows").append(row);
        }
              function removeRow(btn) {
                btn.closest("tr").remove();
                 updateRowIndices();

            }
                 function updateRowIndices() {
                $("#fileRows tr").each(function (i, row) {
                    $(row).find("input").each(function () {
                        let nameAttr = $(this).attr("name");
                        if (nameAttr) {
                            let newName = nameAttr.replace(/Files\[\d+\]/, `Files[${i}]`);
                            $(this).attr("name", newName);
                        }
                    });
                });
                fileRowIndex = $("#fileRows tr").length; 
            }
    </script>
}
